<div class="text-center">
  <h2>{{blog.name}}</h2>
  <p>{{{blog.contents}}}</p>
  <p>Created by {{blog.user.name}} on {{blog.date_created}}.</p>

  {{#each comments as |comment| }}
    <div class="col-md-10">
      <p>{{{comment.contents}}}</p>
      <p>Created by {{comment.user.name}} on {{comment.date_created}}.</p>
    {{#if fromProfile}}
      <button class="btn btn-sm btn-danger" data-id="{{comment.id}}">DELETE</button>
    {{/if}}
  </div>
  {{/each}}
  {{#if loggedIn}}
  <form class="form new-comment-form">
    <div class="form-group">
      <label for="comment-contents">Comment:</label>
      <input class="form-input comment-contents-input" data-blog_id="{{blog.id}}" name="comment-contents">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Add Comment</button>
  </form>
</div>
{{/if}}
</div>

<script src="./js/comment.js"></script>