<div class="text-center">
  <h2>{{blog.name}}</h2>
  <p>{{{blog.contents}}}</p>
  <p>Created by {{blog.usrname}} on {{date_created}}.</p>
  
  {{#each blog.comments as |comment| }}
  <div class="col-md-10">
  <p>{{{comment.contents}}}</p>
  <p>Created by {{comment.user.name}} on {{format_date comment.date_created}}.</p>
  </div>
  {{/each}}
</div>
